@tailwind base;
@tailwind components;
@tailwind utilities;

#maze {
  display: flex;
  flex-direction: column;
  &>div {
    display: flex;
    flex-direction: row;
    &>div {
      width: 20px;
      height: 20px;
      &.wall {
        background: black;
      }
      &.path {
        background: white;
      }
      &.door-exit {
        background: red;
      }
    }
  }
}